In [2]:
!pip install haversine

Collecting haversine
  Using cached haversine-0.4.5.tar.gz
Building wheels for collected packages: haversine
  Running setup.py bdist_wheel for haversine: started
  Running setup.py bdist_wheel for haversine: finished with status 'done'
  Stored in directory: C:\Users\raosa\AppData\Local\pip\Cache\wheels\be\a3\4e\2e073dc725bf9b430e2d42931c55e5be2be4cdc6e325e17677
Successfully built haversine
Installing collected packages: haversine
Successfully installed haversine-0.4.5

In [68]:
# test to see if the logic works 
from haversine import haversine
# consider two points 
p1 = (38.8351853,-77.31204093)
p2 = (38.83518008,-77.3115997)

y=(haversine(p1,p2))*1000
print(str(y) + " meters")

# get the value in feet 

print(str(y*3.28084) + "in feet")

38.22182071593177 meters
125.39967827765759in feet

In [69]:
# load the two tables 
import pandas as pd 
points = pd.read_csv('C:\\Users\\raosa\\Desktop\\PROJECTS\\gmu shortest path\\gmu-shortest-path\\data\\points.csv')
connections = pd.read_csv('C:\\Users\\raosa\\Desktop\\PROJECTS\\gmu shortest path\\gmu-shortest-path\\data\\connections.csv')

In [70]:
points.head()

   id        lat        lon
0   1  38.835185 -77.312041
1   2  38.835180 -77.311600
2   3  38.834964 -77.311704
3   4  38.834995 -77.312156
4   5  38.834991 -77.311581

In [71]:
connections.head()

   p1  p2
0   4   1
1   1   2
2   4   3
3   3   2
4   3   5

In [72]:
# see how we get the distance 
haversine((points['lat'][0],points['lon'][0]),(points['lat'][1],points['lon'][1]))

0.03822182071592103

In [152]:
import math

# for i in range(0,len(connections)):

#     print(points.loc[points['id'] == connections['p1'][i]]['lat'] , points.loc[points['id'] == connections['p1'][i]]['lon'])
#     print(points.loc[points['id'] == connections['p2'][i]]['lat'],points.loc[points['id'] == connections['p2'][i]]['lon'])



for i in range(0,len(connections)):
    
    connections['distance'][i]=(haversine((points.loc[points['id'] == connections['p1'][i]]['lat'],points.loc[points['id'] == connections['p1'][i]]['lon']),
    (points.loc[points['id'] == connections['p2'][i]]['lat'],points.loc[points['id'] == connections['p2'][i]]['lon'])))*3280.84