In [2]:
!pip install haversine

Collecting haversine
  Using cached haversine-0.4.5.tar.gz
Building wheels for collected packages: haversine
  Running setup.py bdist_wheel for haversine: started
  Running setup.py bdist_wheel for haversine: finished with status 'done'
  Stored in directory: C:\Users\raosa\AppData\Local\pip\Cache\wheels\be\a3\4e\2e073dc725bf9b430e2d42931c55e5be2be4cdc6e325e17677
Successfully built haversine
Installing collected packages: haversine
Successfully installed haversine-0.4.5

In [68]:
# test to see if the logic works 
from haversine import haversine
# consider two points 
p1 = (38.8351853,-77.31204093)
p2 = (38.83518008,-77.3115997)

y=(haversine(p1,p2))*1000
print(str(y) + " meters")

# get the value in feet 

print(str(y*3.28084) + "in feet")

38.22182071593177 meters
125.39967827765759in feet

In [69]:
# load the two tables 
import pandas as pd 
points = pd.read_csv('C:\\Users\\raosa\\Desktop\\PROJECTS\\gmu shortest path\\gmu-shortest-path\\data\\points.csv')
connections = pd.read_csv('C:\\Users\\raosa\\Desktop\\PROJECTS\\gmu shortest path\\gmu-shortest-path\\data\\connections.csv')

In [70]:
points.head()

   id        lat        lon
0   1  38.835185 -77.312041
1   2  38.835180 -77.311600
2   3  38.834964 -77.311704
3   4  38.834995 -77.312156
4   5  38.834991 -77.311581

In [71]:
connections.head()

   p1  p2
0   4   1
1   1   2
2   4   3
3   3   2
4   3   5

In [72]:
# see how we get the distance 
haversine((points['lat'][0],points['lon'][0]),(points['lat'][1],points['lon'][1]))

0.03822182071592103

In [152]:
import math

# for i in range(0,len(connections)):

#     print(points.loc[points['id'] == connections['p1'][i]]['lat'] , points.loc[points['id'] == connections['p1'][i]]['lon'])
#     print(points.loc[points['id'] == connections['p2'][i]]['lat'],points.loc[points['id'] == connections['p2'][i]]['lon'])



for i in range(0,len(connections)):
    
    connections['distance'][i]=(haversine((points.loc[points['id'] == connections['p1'][i]]['lat'],points.loc[points['id'] == connections['p1'][i]]['lon']),
    (points.loc[points['id'] == connections['p2'][i]]['lat'],points.loc[points['id'] == connections['p2'][i]]['lon'])))*3280.84

In [153]:
conne

        p1    p2  distance
0        4     1        76
1        1     2       125
2        4     3       128
3        3     2        84
4        3     5        36
5        3     6        96
6        6     7        28
7        6     8        37
8        7     8        21
9        8     9        87
10       9    10        21
11       9    11        10
12       9    12        59
13      12    14        43
14      14    15        46
15      12    13        55
16      13    17        43
17      17    18        30
18      17    19        54
19      13    16        73
20      12    16        65
21      16    20        51
22      19    20       107
23      19    21        93
24      21    22        18
25      22    23        20
26      23    24        45
27      15    29        27
28      29    28        37
29      29    27        26
...    ...   ...       ...
3285  2596  2559        28
3286  2621  2615        31
3287  2614  2621        27
3288  2622  2624        12
3289  2624  2623        23
3290  2624  2612        42
3291  2613  2614        77
3292  2612  2613        92
3293  2625  2620        28
3294  2626  2625        35
3295  2627  2626        57
3296  2639  2612       160
3297  2638  2639        36
3298  2637  2638        27
3299  2628  2627       108
3300  2629  2628       188
3301  2630  2629       119
3302  2631  2630        95
3303  2632  2631        89
3304  2633  2632        89
3305  2634  2633        73
3306  2634  2635       108
3307  2635  2636       118
3308  2636  2637       320
3309  2609  2640        49
3310  2641  2640        31
3311  2642  2641        46
3312  2643  2611       197
3313  2642  2643       222
3314  2638  2643        43

[3315 rows x 3 columns]